﻿@page "/"

<div style="display: flex; justify-content: center">
    <label class="input-field-label" style="text-align:center; margin-bottom: 10px;">
        Введите числа через запятую
    </label>
</div>

<div style="display: flex; justify-content: center;">
    <input class="input-field" style="text-align:center; width: 700px" type="text" @bind="@_inputValue" />
</div>

<div style="display: flex; justify-content: center; margin-top: 10px" @onclick="@CalculateAsync">
    <button type="button" class="btn btn-primary">Посчитать</button>
</div>

<div style="display: flex; justify-content: center">
    <label class="input-field-label" style="text-align:center; margin-bottom: 10px;">
        Результаты вычисления - @_calculationResult
    </label>
</div>


<div style="display: flex; justify-content: center">
    <table class="table">
        <tbody>
            @foreach (var history in _historyList)
            {
                <tr>
                    Время выполнения - @history.RequestTime; 
                    Входящие значения - @history.Request; 
                    Результат - @history.Result; 
                </tr>
            }
        </tbody>
    </table>
</div>
